.link{
    font-size: 50px;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: rgb(204, 204, 204);}

header .link:hover{
    color: white;   
}

.headerJulius{
    background-color: rgb(0, 0, 66);
}

.headerCornelius{
    background-color: rgb(103, 29, 103);
}

.headerOlivia{
    background-color: rgb(227, 28, 121)
}

.headerThomas{
    background-color: rgb(19, 58, 19);
}

.top{
    position: relative;
    width: 60%;
    left: 20%;
    height: inherit;
    margin-bottom: 50px;
    margin-top: 50px;
    /* border: black;
    border: 2px;
    border: solid; */
}

.bodyIndividual{
    margin: 0;
    background-color: white;


}

.name{
    font-size: 75px;
    color: black(214, 111, 111);
    text-align: center;
}

.pictureIndividual{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.textColumn{
    height: 100%;
    width: 50%;
    padding: 10px;
}

.textRow{
        width: 100%;
        display: flex;
        /* justify-content: space-around; */
    
}

.cvColumnLeft{
    height: 100%;
    width: 25%;
}
.cvColumnRight{
    height: 100%;
    width: 75%;
}

.text{
    font-size: 20px;
    text-align: left;
}

.textLink{
    font-size: 20px;
    text-align: left;
    text-decoration: none;

}

/* .columnBorder{
    border-right: 1px solid black;
    justify-content: center;
} */