<!DOCTYPE html>
<html>
    <head>
        <title>Cornelius Hanusch</title>
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Hanuschs\Sources\CSS\containers.css">
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Hanuschs\Sources\CSS\colorsAndDesign.css">
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Hanuschs\Sources\CSS\textStyles.css">

    </head>
    <body class="style">
        <header class="header colorCornelius" >
            <a class="link" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs.html">Homepage</a>
            <a class="link" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_julius.html">Julius</a>
            <a class="link" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_thomas.html">Thomas</a>
            <a class="link" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_olivia.html">Olivia</a>
        </header>
        <div class="top">
            <p class="headline headlineBlack">Cornelius Hanusch</p>
        </div>
    </body>
</html>