<!DOCTYPE html>
<html>
    <head>
        <title>Olivia Hanusch</title>
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Hanuschs\Sources\CSS\homepage.css">
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Hanuschs\Sources\CSS\individual.css">
    </head>
    <body class="bodyIndividual">
        <header class="header colorOlivia" >
            <a class="link" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs.html">Homepage</a>
            <a class="link" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_julius.html">Julius</a>
            <a class="link" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_thomas.html">Thomas</a>
            <a class="link" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_cornelius.html">Cornelius</a>
        </header>
        <div class="top">
            <p class="headline headlineBlack">Olivia Hanusch</p>
        </div>
    </body>
</html>