<!DOCTYPE html>
<html>
    <head>
        <title>Thomas Hanusch</title>
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Hanuschs\Sources\CSS\containers.css">
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Hanuschs\Sources\CSS\colorsAndDesign.css">
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Hanuschs\Sources\CSS\textStyles.css">

    </head>
    <body class="style">
        <header class="header colorThomas" >
            <a class="link" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs.html">Homepage</a>
            <a class="link" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_julius.html">Julius</a>
            <a class="link" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_olivia.html">Olivia</a>
            <a class="link" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_cornelius.html">Cornelius</a>
        </header>
        <div class="top">
            <p class="headline headlineBlack">Thomas Hanusch</p>
            <p class="text">#Allgemeine Beschreibung
            </p>
        </div>
        <div class="row rowIndididual">
            <!-- <img class="pictureIndividual" src="C:\Users\juliu\Documents\Hanuschs\Sources\Pictures\JuliusHanusch.jpeg" alt="Julius Hanuschs Profilbild"/> -->
            <div class="textColumn">
                <p class="h2 h2Black">Personal Data</p>
                    <p class="h3">Contact</p>
                        <div class=textRow>
                            <div class="textBoxLeft">
                                <p class="text">
                                    Mail:
                                </p>
                            </div>
                            <div class="textBoxRight">
                                <p class="text">
                                    thomas@hanuchs.de
                                </p>
                            </div>
                        </div>
                        <div class=textRow>
                            <div class="textBoxLeft">
                                <p class="text">
                                    Phone:
                                </p>
                            </div>
                            <div class="textBoxRight">
                                <p class="text">
                                    #phone
                                </p>
                            </div>
                        </div>

                <p class="h3">Working Experience</p>
                <div class=textRow>
                    <div class="textBoxLeft">
                        <p class="text">
                            #date
                        </p>
                    </div>
                    <div class="textBoxRight">
                        <p class="text">
                            #job
                        </p>
                    </div>
                </div>
                <div class=textRow>
                    <div class="textBoxLeft">
                        <p class="text">
                            #date
                        </p>
                    </div>
                    <div class="textBoxRight">
                        <p class="text">
                            #job
                        </p>
                    </div>
                </div>
                <div class=textRow>
                    <div class="textBoxLeft">
                        <p class="text">
                            #date
                        </p>
                    </div>
                    <div class="textBoxRight">
                        <p class="text">
                            #job
                        </p>
                    </div>
                </div>               
            </div>
            <div class="textColumn">
                <p class="h2 h2Black">Interests</p>
                <p class="h3"></p>
                    <p class="text"></p>

            </div>
        </div>
    </body>
</html>