<!DOCTYPE html>
<html>
    <head>
        <title>Julius Hanusch</title>
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Homepage\Sources\CSS\containers.css">
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Homepage\Sources\CSS\colorsAndDesign.css">
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Homepage\Sources\CSS\textStyles.css">
    </head>
    <body class="style">
        <header class="header colorJulius" >
            <a class="link" href="C:\Users\juliu\Documents\Homepage\Templates\hanuschs.html">Homepage</a>
            <!-- <a class="link" href="C:\Users\juliu\Documents\Homepage\Templates\hanuschs_thomas.html">Thomas</a> -->
            <a class="link" href="C:\Users\juliu\Documents\Homepage\Templates\hanuschs_olivia.html">Olivia</a>
            <a class="link" href="C:\Users\juliu\Documents\Homepage\Templates\hanuschs_cornelius.html">Cornelius</a>
        </header>
        <div class="top">
            <p class="headline headlineBlack">Julius Hanusch</p>
            <p class="text">Julius Hanusch is Currently studying Computer Science at the Technische Universität in Dresden. He started studying in October 2019 and is expected to
                 graduate in Summer 2025 with the degree of a computer science engineer (Diplom Informatiker). <br> He is aswell board member of the Universitätsorchester Dresden where he works in the team "project organization" for upcoming concerts.
            </p>
        </div>
        <div class="row rowIndididual">
            <!-- <img class="pictureIndividual" src="C:\Users\juliu\Documents\Hanuschs\Sources\Pictures\JuliusHanusch.jpeg" alt="Julius Hanuschs Profilbild"/> -->
            <div class="textColumn">
                <p class="h2 h2Black">Personal Data</p>
                    <p class="h3">Contact</p>
                        <div class=textRow>
                            <div class="textBoxLeft">
                                <p class="text">
                                    Mail:
                                </p>
                            </div>
                            <div class="textBoxRight">
                                <p class="text">
                                    #email
                                </p>
                            </div>
                        </div>
                        <div class=textRow>
                            <div class="textBoxLeft">
                                <p class="text">
                                    Phone:
                                </p>
                            </div>
                            <div class="textBoxRight">
                                <p class="text">
                                    #phone
                                </p>
                            </div>
                        </div>

                <p class="h3">Education</p>
                    <div class=textRow>
                        <div class="textBoxLeft">
                            <p class="text">
                                2019-2025
                            </p>
                        </div>
                        <div class="textBoxRight">
                            <p class="text">
                                Studies of Computer Science at TU-Dresden.
                            </p>
                        </div>
                    </div>
                    <div class=textRow>
                        <div class="textBoxLeft">
                            <p class="text">
                                2013-2019
                            </p>
                        </div>
                        <div class="textBoxRight">
                            <p class="text">
                                A-level (Abitur) at "Sächsisches Landesgymnasium für Musik Dresden".
                            </p>
                        </div>
                    </div>
                    <div class=textRow>
                        <div class="textBoxLeft">
                            <p class="text">
                                2010-2013
                            </p>
                        </div>
                        <div class="textBoxRight">
                            <p class="text">
                                Gymnasium Coswig
                            </p>
                        </div>
                    </div>
                    <p class="h3">Download CV</p>
                    <div class=textRow>
                        <div class="textBoxLeft">
                            <a class="textLink" href="C:\Users\juliu\Documents\Homepage\Sources\Documents\CV_JuliusHanusch.pdf">CV Julius Hanusch
                            </p>
                        </div>
                        <div class="textBoxRight">
                            <a class="textLink" href="C:\Users\juliu\Documents\Homepage\Sources\Documents\Lebenslauf_JuliusHanusch.pdf">(German Version)</a>
                        </div>
                    </div>                            
                </div>
            <div class="textColumn">
                <p class="h2 h2Black">Interests and Experiences </p>
                <p class="h3">Musical Stations</p>
                    <p class="text">Julius Hanuschs started playing the trumpet when he was 6 Year old. In his first years he was thaught in the music school of the district of meissen.
                    After 6 Years and several successes at the competition "Jugend Musiziert" he went to the "Landesgymnasium für Musik" in Dresden. <br>
                    In Dresden Julius Hanuschs received lessos in Piano, Choir and Orchestra. From 2018 to 2019 he was a member of the "Landesjugendorchestrer Sachsen" <br>
                    Since October 2020 Julius Hanusch is a member of the Universitätsorchester Dresden.</p>

            </div>
        </div>
    </body>
</html>