<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Hanuschs\Sources\CSS\containers.css">
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Hanuschs\Sources\CSS\textStyles.css">
        <link rel="stylesheet" type="text/css" href="C:\Users\juliu\Documents\Hanuschs\Sources\CSS\colorsAndDesign.css">

    </head>
    <body class="style">
        <header class="header headerHome">
            <p class="headline headlineGrey">Meet the Hanuschs</p>
        </header>

        <div class="row rowHomepage">
            <a class="columnLink" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_julius.html">
                <div class="column colorWhite">
                    <img class="picture" src="C:\Users\juliu\Documents\Hanuschs\Sources\Pictures\Julius.jpeg" alt="Julius Hanuschs Profilbild"/>
                    <p class="h2 h2Black">Julius Hanusch</p>
                    <p class="textBlack">Currently Computer Science student at Technische Universität Dresden and board member of the Universitätsorchester Dresden.</p>
                </div>
            </a>
        
            <a class="columnLink" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_thomas.html">
                <div class="column colorBlack">
                    <!-- <img class="picture" src="C:\Users\juliu\Documents\Hanuschs\Sources\Pictures\Julius.jpeg" alt="Julius Hanuschs Profilbild"/> -->
                    <p class="h2 h2White">Thomas Hanusch</p>
                    <p class="textWhite">Graduate engineer at Melexis.</p>
                </div>
            </a>
            <a class="columnLink" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_olivia.html">
                <div class="column colorWhite">
                    <!-- <img class="picture" src="C:\Users\juliu\Documents\Hanuschs\Sources\Pictures\Julius.jpeg" alt="Julius Hanuschs Profilbild"/> -->
                    <p class="h2 h2Black">Olivia Hanusch</p>
                    <p class="textBlack">Presently teaching degree student at "Friedrich Schiller Universität" Jena.</p>
                </div>
            </a>
        
            <a class="columnLink" href="C:\Users\juliu\Documents\Hanuschs\Templates\hanuschs_cornelius.html">
                <div class="column colorBlack">
                    <img class="picture" src="C:\Users\juliu\Documents\Hanuschs\Sources\Pictures\HanuschCorneliusBlack.jpg" alt="Julius Hanuschs Profilbild"/>
                    <p class="h2 h2White">Cornelius Hanusch</p>
                    <p class="textWhite">Since August 2022 in mechatronics education at Global Foundries Dresden.</p>
                </div>
            </a>
        </div>
 
    </body>
</html>