<!DOCTYPE html>
<html>
    <head>
        <title>Olivia Hanusch</title>
        <link rel="stylesheet" type="text/css" href="../Sources/CSS/containers.css">
        <link rel="stylesheet" type="text/css" href="../Sources/CSS/colorsAndDesign.css">
        <link rel="stylesheet" type="text/css" href="../Sources/CSS/textStyles.css">

    </head>
    <body class="style">
        <header class="header colorOlivia" >
            <a class="link" href="/Templates/index.html">Homepage</a>
            <a class="link" href="/Templates/julius.html"">Julius</a>
            <!-- <a class="link" href="C:\Users\juliu\Documents\Homepage\Templates\hanuschs_thomas.html">Thomas</a> -->
            <a class="link" href="/Templates/cornelius.html">Cornelius</a>
        </header>
        <div class="top">
            <p class="headline headlineBlack">Olivia Hanusch</p>
            <p class="text">Olivia Hanusch is currently a student at the "Friedrich Schiller Universität" in Jena to become a Teacher in MAthematics and Georgraphy.
                Next to her studies she gained a lot experiece during her stays aboard in Ethopia and Albania.
           </p>
        </div>
        <div class="row rowIndididual">
            <!-- <img class="pictureIndividual" src="C:\Users\juliu\Documents\Hanuschs\Sources\Pictures\JuliusHanusch.jpeg" alt="Julius Hanuschs Profilbild"/> -->
            <div class="textColumn">
                <p class="h2 h2Black">Personal Data</p>
                <!-- <p class="h3">Contact</p>
                    <div class=textRow>
                        <div class="textBoxLeft">
                            <p class="text">
                                Mail:
                            </p>
                        </div>
                        <div class="textBoxRight">
                            <p class="text">
                                #emailadresse
                            </p>
                        </div>
                    </div>
                    <div class=textRow>
                        <div class="textBoxLeft">
                            <p class="text">
                                Phone:
                            </p>
                        </div>
                        <div class="textBoxRight">
                            <p class="text">
                                #phone
                            </p>
                        </div>
                    </div> -->

                <p class="h3">Education</p>
                    <div class=textRow>
                        <div class="textBoxLeft">
                            <p class="text">
                                2017-2023
                            </p>
                        </div>
                        <div class="textBoxRight">
                            <p class="text">
                                Studies of teaching degree at "Friedrich Schiller Universität" Jena.
                            </p>
                        </div>
                    </div>
                    <div class=textRow>
                        <div class="textBoxLeft">
                            <p class="text">
                                2009-2017
                            </p>
                        </div>
                        <div class="textBoxRight">
                            <p class="text">
                                A-level (Abitur) at Gymnasium Coswig.
                            </p>
                        </div>
                    </div>
                    <p class="h3">Download Lebenslauf</p>
                    <div class=textRow>
                        <div class="textBoxLeft">
                            <a class="textLink" href="../Sources/Documents/Lebenslauf_OliviaHanusch.pdf">Lebenslauf Olivia Hanusch</a>
                        </div>
                        <!-- <div class="textBoxRight">
                            <a class="textLink" href="C:\Users\juliu\Documents\Homepage\Sources\Documents\Lebenslauf_JuliusHanusch.pdf">(German Version)</a>
                        </div> -->
                    </div>                            
            </div>
            <div class="textColumn">
                <p class="h2 h2Black">Interests and Experiences </p>
                    <p class="h3">Stays aboard</p>
                        <p class="text">In 2021 Olivia Hanusch gained several experience while teaching in the german school in Addis-Abeba,
                             Ethopia, aswell as in Tirana,Albania.</p>

            </div>
        </div>
    </body>
</html>